<!DOCTYPE html>
<html>
<head>
  <title>Quiz Result</title>
</head>
<body>
  <h1>Quiz Result</h1>
  <p>Your score: <%= score %> out of <%= totalQuestions %></p>
  <a href="/">Take the quiz again</a>
</body>
</html>
