<!DOCTYPE html>
<html>
<head>
  <title>Quiz Result</title>
</head>
<body>
  <h1>Quiz Result</h1>
  <p>Well done! You have completed the quiz.</p> 
  <a href="/">Take the quiz again</a>
</body>
</html>
