<!DOCTYPE html>
<html>
<head>
  <title>Quiz Result</title>
  <link rel="stylesheet" href="/css/result.css">
</head>
<body>
  <div class="result">
    <h1>Quiz Result</h1>
    <p class="score">Your score: <%= score %> out of <%= totalQuestions %></p>
    <a href="/" class="play-again-button">Play Again</a>
  </div>
</body>
</html>
